<!DOCTYPE html>
<html>
	<head>
			<title>API DOCUMENTATION</title>
			<meta charset = "utf-8"/>
	</head>
		<body>
			<header>galdhrim.api</header>
				<nav><h1>COLLEGE</h1>
					<p> A college is a unit responsible for offering degree programs. </p>
				</nav>
				<section>
					<h3>Data Management</h3>
					<a href="api_page.html" >College</a>
					<a	href="degree_program.html">Degree Programs</a>
					<a href="curriculum.html" >Curriculum</a>
					<a	href="student.html">Student</a>
				</section>	
			<aside>
				<h3> REST API</h3>
				<h4> Create college</h4>
				<p>POST<br/>/api/colleges<br/>@param code<br/>param name</p>

				<h4> Example Request</h4>
				<p>curl<br/>http://ws.c/api/colleges</p>
				
				<h4> Example Response</h4>
				<p>{<br/>"_id":1<br/>"code":"CA"<br/>"name":"College of Arts"<br/>}</p>
			</aside>			

		<footer> 2015 All Rights Reserved</footer>

	
		</body>
	</html>
