<!DOCTYPE html>
<html>
	<head>
		<title>Javascript Test</title>
		<meta charset="utf-8"/>
	</head>

	<body>
		<p>Please Input grade: </p>
		<input type="text" id="demo1"/>
		<input type="button" onclick="getStatus()" value ="Get status"/>
		<div id ="message"></div>
		<a href="javascript:void(document.body.style.backgroundColor='pink');">Click Me!<br/></a>
		<input type="button" onclick="guessNumber()" value ="Guess a number"/>
		<script> 

			function getStatus(){
				var grade = document.getElementById("demo1").value;
				var status =(Number(grade)>=55)?"Pass":"Fail";
				document.getElementById("message").innerHTML=status;
			}
			function guessNumber(){
					var guessNum=Math.floor((Math.random()*100)+1);
					do{
						var x = prompt("Enter a number");
						try{
								if (x=="")throw "empty";
								if (isNaN(x)) throw "not a number";
							x=Number(x);
							if (x==guessNum)throw "CONGRATULATIONS! The number is "+x;
							else if (x>guessNum)throw "too high";
							else if (x<guessNum)throw "too low";
					}
					catch(err){
						alert("Input is "+err);
					}
				}while(x!=guessNum);
			}
		</script>

	</body>	
</html>
