<!DOCTYPE html>
<html>
	<head>
			<title>SIGN IN</title>
			<meta charset = "utf-8"/>
	</head>
		<body>
			<header><h1>SIGN IN</h1></header>
				
				<nav>
				<form>
								<input type="text" name="name" placeholder="Username"/><br/>
								<input type="text" name="password" placeholder="Password"/><br/>
								<input type="checkbox" />Remember me<br/>
								<input type="Submit" value="SIGN IN"/>
					</nav>	
						</form>

		<footer> Don't have any account? <a href="sign_up.html">Sign Up</a></footer>
		</body>
	</html>
