<!DOCTYPE html>
<html>
	<head>
			<title>SIGN UP</title>
			<meta charset = "utf-8"/>
	</head>
		<body>
			<header><h1>SIGN UP</h1></header>
				
				<nav>
	
								<input type="text" name="name" placeholder="Username"/><br/>
								<input type="text" name="password" placeholder="Password"/><br/>
								<input type="text" name="password" placeholder="Confirm Password"/><br/>
								<input type="checkbox" />Remember me<br/>
								<input type="submit" value="SIGN UP"/>
					</nav>	
						

		<footer> Already have an account? <a href="sign_in.html">Sign In</a> </footer>
		</body>
	</html>
